.container {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 1em;
  margin-top: 1em;
}

.logo {
  background-image: url('img/thoughtram-logo.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 150px auto;
  background-color: hsl(0, 100%, 100%);
  text-indent: -7000px;
  margin: 0 auto;
  height: 4em;
  width: 5em;
}

.logo-line {
  display: block;
  background-image: url('../img/thoughtram-logo-line.png');
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: 250px auto;
  background-position: center;
  padding: 0.5em 0;
  margin: 0;
  text-indent: -7000px;
}

.tag-line {
  width: 100%;
  text-align: center;
  font-family: arial;
  font-weight: bold;
  margin-top: 0;
}

.email {
  line-height: 2;
  width: 100%;
  box-sizing: border-box;
  border-radius: 0;
  padding: 0em 1em;
  height: 3em;
  border: 1px solid #ccc;
}
.label {
  display: block;
  text-align: center;
  margin-top: 2em;
  margin-bottom: 0.9em;
  font-weight: 200;
}
.button {
  border: 0;
  color: #fff;
  background: #6fb4c7;
  width: 100%;
  padding: 0.8em;
  margin-top: 1em;
}

.button:hover {
  background-color: hsl(193, 44%, 45%)
}
.socialize, .hints {
  padding: 0;
  margin: 0;
  list-style: none;
}

.socialize {
  margin-top: 1em;
}

.hints {
  margin-top: 2em;
}

.socialize-item, .hint {
  display: inline-block;
  text-align: center;
}
.socialize-item {
  width: 49%;
}
.socialize-item.twitter {
  text-align: right;
}

.socialize-item.twitter a {
  margin-right: 0.5em;
}

.socialize-item.github {
  text-align: left;
}

.socialize-item.github a {
  margin-left: 0.5em;
}

.socialize-item a {
  font-size: 1.5em;
  color: #ccc;
}

.socialize-item a:hover {
  color: #aaa;
}

.hint {
  width: 32%;
  background-size: 40px auto;
  background-position: center;
  background-repeat: no-repeat;
  height: 3em;
  opacity: 0.7;
}

.hint.angular {
  background-image: url('img/angular-logo.png');
}

.hint.git {
  background-image: url('img/git-logo-black.png');
}

.hint.vim {
  background-image: url('img/vim-logo.png');
}

.hint.elasticsearch {
  width: 100%;
  background-size: 150px auto;
  background-image: url('img/elasticsearch-logo.png');
}

@media screen and (min-width: 360px) {
  .container {
    margin-top: 5em;
  }
}

@media screen and (min-width: 640px) {

  .logo {
    background-size: 250px auto;
    height: 6em;
    width: 8em;
  }

  .logo-line {
    margin-top: 0.5em;
    background-size: 350px auto;
    background-position left;
  }

  .tag-line {
    font-size: 1.3em;
    margin-top: 0.3em;
  }

  .hint {
    background-size: 70px auto;
    height: 5em;
  }

  .hint.elasticsearch {
    background-size: 200px auto;
  }

  .socialize-item a {
    font-size: 2em;
  }
}

@media screen and (min-width: 760px) {
  body {
    background-image: url('img/thoughtram-polygons.svg');
    background-repeat: no-repeat;
    background-position: 42em -60em;
    /* background-position: -20em -45em; */
  }

  .form {
    width: 684px;
    margin: 0 auto;
  }

  .socialize, .hints {
    width: 684px;
    margin: 0 auto;
    margin-top: 2em;
  }

  .socialize {
    margin-top: 1em;
  }
}

@media screen and (min-width: 900px) {

  .container {
    width: 810px;
    margin-top:  8em;
  }


  .label {
    font-weight: bold;
  }

  .form {
    margin-top: 3em;
    width: 500px;
  }

  .socialize, .hints {
    width: 500px;
  }

  .logo {
    margin: 0 0 0 1.7em;
    background-size: 270px auto;
    width: 10em;
    height: 6em;
  }

  .logo-line {
    margin-top: 1em;
    background-size: 500px auto;
  }
}
